<div class="user-details">
  <h1> <br>Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="jsp" src="{{ "/assets/img/java-jsp-.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CRUD Web Application Project </h3>
    <ul>
      <li>JSP & Servlet</li>
    </ul>
    <p>I'm focusing on how using JSP&Servlet to work website. I've posted my studying.
      The ultimate goal is making CRUD Web Application Project by using JSP&Servlet.
    </p>
    <a class="project-link" href="https://hadongkyoun.github.io/about2.html">Check it out</a>
  </div>
</div>
