<div class="user-details">
  <h1> Featured Projects<br> </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="jsp" src="{{ "/assets/img/java-jsp-.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> CRUD Web Application Project </h3>
    <ul>
      <li>JSP & Servlet</li>
    </ul>
    <p>I'm focusing on how using JSP&Servlet to work website. I've posted my studying.
      The ultimate goal is making CRUD Web Application Project by using JSP&Servlet.
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
